<!-- <br>
<br>
<br>
<br>
<div class="form-card" style="margin-top: -110px;">
    <h1 style="text-align: center; color: #00008B;">Formulaire pour une procedure administrative</h1>
    <form [formGroup]="produitForm" (ngSubmit)=" createProduit()" >
        <label for="aff_membre_produit">Add Product :</label>
        <br>
            <div class="form-group">
              <div class="d-inline">
                <label for="productName" class="d-inline">Nom Produit:</label>
                <input type="text" id="productName" name="productName" class="form-control d-inline larger-input" formControlName="name" placeholder="Enter product name">
              </div>
            </div>
          
        <div class="row">
            <div class="col-auto text-left">
                <button  type="submit" class="btn btn-primary custom-green-button" style="color: black; font-weight: bold;" >Submit</button>
            </div>
            <div class="col-auto text-right">
                <button routerLink="/login" type="button" class="btn btn-secondary custom-green-button" style="color: black; font-weight: bold;" >Cancel</button>
            </div>
        </div>
    </form>
</div>
       -->
