<!-- <div class="logo text-center">
    <img width="300" src="assets/img/brand/vermeg.png" alt="">
</div>
<br>
<div class="form-card" style="margin-top: -110px;">
    <h1 style="text-align: center; color: #00008B;">Administrative Procedure Form</h1>
    <form [formGroup]="form" (ngsubmit)="onSubmitForm()" >
        <label for="aff_membre_produit">Add Product :</label>
        <br>
        <div class="form-group">
            <div class="d-inline">
                <label for="id" class="d-inline">Name Product:</label>
                <input type="id" id="id" name="id" class="form-control d-inline larger-input" formControlName="id" placeholder="">
            </div>
        </div>
        <label for="aff_membre_produit">Add Project :</label>
        <br>
        <div class="form-group">
            <div class="d-inline">
                <label for="nom" class="d-inline">Id Product:</label>
                <input type="text" id="nom" name="nom" class="form-control d-inline larger-input" formControlName="nom">
            </div>
        </div>
        <div class="form-group">
            <div class="d-inline">
                <label for="id" class="d-inline">Name Project:</label>
                <input type="id" id="id" name="id" class="form-control d-inline larger-input" formControlName="id" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <div class="d-inline">
                <label for="id" class="d-inline">Branche </label>
                <input type="id" id="id" name="id" class="form-control d-inline larger-input" formControlName="id" placeholder="">
            </div>
        </div>
        <br>
        <br>

        <div class="row">
            <div class="col-auto text-left">
                <button  type="submit" class="btn btn-primary custom-green-button" style="color: black; font-weight: bold;" >Submit</button>
            </div>
            <div class="col-auto text-right">
                <button routerLink="/login" type="button" class="btn btn-secondary custom-green-button" style="color: black; font-weight: bold;" (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>
 -->
