<div class="scan-input" style="display: flex; gap: 20px;">
  <div class="input-container" style="border: 1px solid #ccc; padding: 20px; border-radius: 5px; width: 300px;">
    <div class="label-container" style="margin-bottom: 10px;">
      <label for="scanInput">Projet1</label>
    </div>
   
    <div class="link-container" style="margin-bottom: 10px;">
      <a routerLink="/pages/listeapplication" title="Avancement du liste des applications" style="display: block; margin-bottom: 5px;">Liste des applications</a>
      <a routerLink="/pages/listepiplienne" title="Avancement du liste des pipelines" style="display: block; margin-bottom: 5px;">Liste des pipelines</a>
      <a routerLink="/pages/scan" title="Vérifier la sécurité" style="display: block; margin-bottom: 5px;">Scan</a>
    </div>
    <br>
    <div class="button-container" style="margin-bottom: 10px;">
      <button class="consult-button" routerLink="/pages/branche" >Consulter Table de branche</button>
    </div>
  </div>
  
  <div class="input-container" style="border: 1px solid #ccc; padding: 20px; border-radius: 5px; width: 300px;">
    <div class="label-container" style="margin-bottom: 10px;">
      <label for="scanInput2">Projet2</label>
    </div>
   
    <div class="link-container" style="margin-bottom: 10px;">
      <a routerLink="/pages/listeapplication" title="Avancement du liste des applications" style="display: block; margin-bottom: 5px;">Liste des applications</a>
      <a routerLink="/pages/listepiplienne" title="Avancement du liste des pipelines" style="display: block; margin-bottom: 5px;">Liste des pipelines</a>
      <a routerLink="/pages/scan" title="Vérifier la sécurité" style="display: block; margin-bottom: 5px;">Scan</a>
    </div>
    <br>
    <div class="button-container" style="margin-bottom: 10px;">
      <button class="consult-button" routerLink="/pages/branche" >Consulter Table de branche</button>
    </div>
  </div>
</div>
