.user{
    height: 50px;
    width: 50ox;
    margin-top: 100px;
    margin-right: 150px;
    margin-left: 80px;
}
.bg-light-pink {
    background-color: #e4e9ff; /* Light pink color */
  }
  .merge-section {
    height: 100vh; /* Adjust based on your needs */
    margin-left: -3%; /* Collide with the adjacent column */
  }
  .bg-grey {
    background-color: rgb(97, 97, 97);
  }