<!-- <div>
  <h2 style="color: black; position: absolute; top: 20px; left: 20px;">VERMEG</h2>
</div>
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <div class="clearfix">   
          <h1 class="float-start display-10 me-10" style="color: blue;">GIT project URL</h1>   
        <span class="clearfix">     
          <p class="text-medium-emphasis float-start" style="color: blue !important;">
            Type here in this search bar the Corresponds URL of the GIT project
          </p>
        </span>
      </div>
      <c-input-group class="input-prepend">
          <span cInputGroupText>
            <svg cIcon name="cilMagnifyingGlass"></svg>
          </span>
          <input cFormControl placeholder="What are you looking for?" type="text" />
          <button  routerLink="/dashboard" cButton color="info" style="background-color: blue; color: white;">Search</button>
        </c-input-group>
      </c-col>
    </c-row>
  </c-container>
</div> 





   -->