<!-- <div class="bg-light min-vh-100 d-flex flex-column">
  <div class="d-flex justify-content-start p-3">
    <h2 style="color: black;">VERMEG</h2>
  </div>
  <div class="d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col md="8">
          <c-card-group>
            <c-card class="p-4">
              <c-card-body>
                <form cForm [formGroup]="loga" (ngsubmit)="loginpage()">
                  <h1>Login</h1>
                  <p class="text-medium-emphasis">Sign In to your account</p>
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon name="cilUser"></svg>
                    </span>
                    <input formControlName="email" name="email" autoComplete="email" cFormControl placeholder="tape your email here" />
                  </c-input-group> 
                  <c-input-group class="mb-4">
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input
                      autoComplete="current-password"
                      cFormControl
                      placeholder="Password"
                      type="password"
                    />
                  </c-input-group>
                  <c-row>
                    <c-col xs="6">
                      <button cButton class="px-4" color="primary">
                        Login
                      </button>
                    </c-col>
                    <c-col class="text-right" xs="6">
                      <button cButton class="px-0" color="link">
                        Forgot password?
                      </button>
                    </c-col>
                  </c-row>
                </form>
              </c-card-body>
            </c-card>
            <c-card [ngStyle]="{'width.%': 44}" class="text-white bg-primary py-5">
              <c-card-body class="text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>
                    Log in to your business account to quickly access the tools and resources you need for your work. Your success starts here.
                  </p>
                  <button [active]="true" cButton class="mt-3" color="primary" routerLink="/register">
                    Register Now!
                  </button>
                </div>
              </c-card-body>
            </c-card>
          </c-card-group>
        </c-col>
      </c-row>
    </c-container>
  </div>
</div> -->
